# Ignore everything
*
# But traverse into directories (so later ! rules work)
!*/

# Keep repo meta & project file
!/.gitignore
!/*.uproject

# Keep project code & config
!/Source/**
!/Config/**

# Keep plugins: descriptor + source
!/Plugins/**/*.uplugin
!/Plugins/**/Source/**